.container {
  display: flex;
  flex-direction: column;
  background: var(--content-color);
  border-radius: 4px;
  overflow: hidden;
}

.tabBar {
  background: var(--background-color);
  display: flex;
}

.tab {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  line-height: 12px;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  /* opacity: 0.5; */
}

.tab:not(.selected) {
  opacity: 0.75;
}

.tab:hover {
  opacity: 1;
}
