.container {
  /* Root container */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  background: var(--headers);
  padding: 6px;
  /* border-bottom: 1px solid var(--border); */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.searchIcon {
  width: 14px;
  height: 14px;
}

.searchInput {
  flex: 1;
  padding: 4px 6px;
  font-size: 12px;
}

.content {
  padding: 0px;
  flex: 1;
}
