.inspector {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  font-weight: bold;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: var(--dockable-colors-headers);
}

.nameInput {
  flex: 1;
  padding: 4px 6px;
}

.behaviorContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--dockable-colors-headers);
}

.dragOver::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--dockable-colors-selected);
  border-radius: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  pointer-events: none;
}

.behaviorHeader {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  gap: 6px;
  padding: 4px;
}

.arrowContainer {
  width: 12px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.behaviorContent {
  padding: 8px;
}
