.inspector {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  font-weight: bold;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.nameInput {
  flex: 1;
  padding: 4px 6px;
}

.behaviorContainer {
  display: flex;
  flex-direction: column;
}

.behaviorHeader {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  gap: 6px;
  padding: 4px;
}

.arrowContainer {
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.behaviorContent {
  padding: 8px;
}
